__pycache__/
*.pyc
.env
.env.*
venv/
.venv/
dist/
build/
*.egg-info/
*.log
/.pytest_cache/
/.mypy_cache/
/.coverage
coverage.xml
*.sqlite3
node_modules/
package-lock.json
/.idea/
/.vscode/
*.DS_Store
/.ruff_cache/
playlist_nortena_*.csv
playlist_nortena_*.json
